{{ define "main" }}
  <div class="sectionListBar">
    <div>
    {{ range .Site.Sections }}
    <div class="sectionListItem">
      {{ $pictureParams := dict
        "section" .
        "size" "100"
      }}
      {{partial "profilePicture.html" $pictureParams}}
      <div>
      {{if .Title}}
        <h1>
            <a href="{{.RelPermalink}}">
            {{.Title}}
            </a>
        </h1>
      {{end}}
      {{if .Param "at"}}
        <h2>
            <a href="{{.RelPermalink}}">
                @{{.Param "at"}}
            </a>
        </h2>
      {{end}}
      {{with (.Pages.ByDate.Reverse | collections.First 1) }}
       {{range .}}
       <span class="highlight">
       {{ .Date.Format .Site.Params.style.shortTimeFormat }}:
       </span>
       {{if .Title}}
        {{.Title}}
      {{else}}
        {{.Content | transform.Plainify | strings.Truncate 20 }}
      {{end}}
      {{end}}
      {{ end }}
      </div>
    </div>
    {{ end }}
    </div>
  </div>
  <div class="gohostCorner">
    <div>
      {{with .Title}}
        <h1>
            {{.}}
        </h1>
      {{end}}
      {{ .Content }}
    </div>
  </div>
  <div class="contentBar">
    {{ $renderedPages := slice}}
    {{ range site.RegularPages }}
        {{ if not (.Path | in $renderedPages)}}
          {{ $replyList := (partial "replyAccumulator.html" . ) }}
          {{ $renderedPages = $renderedPages | append $replyList }}
          <div class="articleWrapper">
          {{ with .GetPage .Section }}
            {{ $pictureParams := dict
              "section" .
              "size" "100"
            }}
            {{partial "profilePicture.html" $pictureParams}}
          {{end}}
          {{partial "post.html" .}}
        </div>
        {{ end }}
    {{end}}
    </div>
{{ end }}

