{{ define "main" }}
    <div class="accentBar">
        {{partial "profileSidebar.html" .}}
    </div>
    {{- if .Site.Params.features.tags -}}
    <div class="sideBar">
        <div class="rounded">
            {{partial "tagCloud.html" .}}
        </div>
    </div>
    {{- end -}}
    <div class="contentBar">
    {{ $renderedPages := slice}}
    {{ range (.Paginate .Pages).Pages }}
        {{ if not (.Path | in $renderedPages)}}
        {{ $replyList := (partial "replyAccumulator.html" . ) }}
        {{ $renderedPages = $renderedPages | append $replyList }}
        {{partial "post.html" .}}
        {{ end }}
    {{end}}
    {{ partial "pagination.html" . }}
    </div>
  
{{ end }}