{{ define "main" }}
    <div class="accentBar">
        {{partial "profileSidebar.html" .}}
    </div>
    <div class="sideBar">
        <div class="rounded">
            {{ with .GetTerms "tags" }}
                {{ partial "tagCloud.html" .}}
            {{ else with (partial "tagAccumulator.html" . ) }}
                {{ partial "tagCloud.html" .}}
            {{ end }}
        </div>
    </div>
    <div class="contentBar">
    {{ $renderedPages := slice}}
    {{ range .Pages }}
        {{ if not (.Path | in $renderedPages)}}
        {{ $replyList := (partial "replyAccumulator.html" . ) }}
        {{ $renderedPages = $renderedPages | append $replyList }}
        {{partial "post.html" .}}
        {{ end }}
    {{end}}
    </div>
  
{{ end }}