{{- /*
Renders an HTML details element styled as a readmore button.

@param {string} [summary] The content of the child summary element.

@reference https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details

@examples

  {{< readmore >}}
  A basic read more section.
  {{< /readmore >}}

  {{< readmore summary="Custom Summary Text" >}}
  Showing custom `summary` text.
  {{< /readmore >}}

*/}}

{{- /* Get arguments. */}}
{{- $class := "readmore" }}
{{- $summary := or (.Get "summary") (T "readMore") }}

{{- /* Render. */}}
<details {{- with $class }} class="{{ . }}" {{- end }}>
	<summary>{{ $summary | .Page.RenderString }}</summary>
	{{ .Inner | .Page.RenderString (dict "display" "block") -}}
</details>