<hr>
<div class="postHeader">
{{ with .GetPage .Section }}
    {{ $pictureParams := dict
        "section" .
        "size" "32"
    }}
    {{partial "profilePicture.html" $pictureParams}}
    <a class="postUserTitle" href="{{ .RelPermalink }}">{{.Title}}</a>
    {{if .Param "at"}}
        <a class="postUserAt" href="{{ .RelPermalink }}">@{{.Param "at"}}</a>
    {{end}}
{{end}}
{{if .Date}}
<span class="postTime">
    {{ $t := time.AsTime .Date }}
    {{ time.Format .Site.Params.style.timeFormat $t }}
</span>
{{end}}
</div>
{{if .LinkTitle }}
<h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
{{end}}
{{.Content}}
{{- if .Site.Params.features.tags -}}
<div class="postTags">
    {{range .GetTerms "tags"}}
    <a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>
    {{end}}
</div>
{{- end -}}