{{ $image := .section.Resources.Get (.section.Param "picture") }}
{{if $image}}
    {{ $fillOptions := printf "fill %sx%s Center lossy q60 avif icon" .size .size }}
    {{- if in ".gif" (path.Ext $image) -}}
        {{ $fillOptions = printf "fill %sx%s Center lossy q60" .size .size }}
    {{- end -}}
    {{ $image = $image.Process $fillOptions }}
    {{ $maskUrl := .section.Param "picture_mask"}}
    {{ if not $maskUrl}}
        {{$maskUrl = "hex"}}
    {{ end }}
    {{ $maskUrl = printf "%s%s%s" "masks/" $maskUrl ".svg" }}
    {{ $mask := (resources.Get $maskUrl | minify)}}
    <div class="profilePicture">
        <a href="{{.section.RelPermalink}}">
        <img src="{{ $image.RelPermalink }}" style="mask-image: url({{$mask.RelPermalink}}); mask-size: contain;" alt="{{.Title}}">
        </a>
    </div>
{{end}}