{{ $image := .section.Resources.Get (.section.Param "picture") }}
{{if $image}}
    {{ $fillOptions := printf "%sx%s Center lossy q70" .size .size }}
    {{ $image = $image.Fill $fillOptions }}
    {{ $maskUrl := .section.Param "picture_mask"}}
    {{ if not $maskUrl}}
        {{$maskUrl = "hex"}}
    {{ end }}
    {{ $maskUrl = printf "%s%s%s" "masks/" $maskUrl ".svg" }}
    {{ $mask := (resources.Get $maskUrl | minify).Content | encoding.Base64Encode}}
    <div class="profilePicture">
        <a href="{{.section.RelPermalink}}">
        <img src="{{ $image.RelPermalink }}" style="mask-image: url(data:image/svg+xml;base64,{{$mask}}); mask-size: contain;" alt="{{.Title}}">
        </a>
    </div>
{{end}}