{{ $image := .Page.Resources.GetMatch .Destination }}
{{ $filters := slice
  images.AutoOrient
  (images.Process "fit 800x800 webp q60")
}}
{{ $largeFilters := slice
  images.AutoOrient
  (images.Process "fit 2000x2000")
}}
{{ $largeImage := $image.Filter $largeFilters }}
{{ $image = $image.Filter $filters }}

<figure>
	<a href="{{$largeImage.RelPermalink}}" target="_blank">
    <img src="{{ $image.RelPermalink }}" alt="{{ .PlainText }}"
        {{- with .Title }} title="{{ . }}" {{- end -}}
        {{- range $k, $v := .Attributes -}}
            {{- if $v -}}
            {{- printf " %s=%q" $k ($v | transform.HTMLEscape) | safeHTMLAttr -}}
            {{- end -}}
        {{- end -}}>
	</a>
</figure>